{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Restaurant Finder</h1>
    <p class="lead"> Restaurant Finder blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah    </p>
 

    <form class="search-form" action="{{ url_for("home")}}" method='POST'>
        <input class="search-field" type='text' name='search-keyword' placeholder="Search for restaurant or food..." required>
        <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
    </form>

    &nbsp;&nbsp;
    <!--<p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Search Now &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>American Food</h2>
        <p>
            burgers, fries, hotdogs, chicken nuggets, etc.
        </p>
        <!--<p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>BBQ</h2>
        <p>chicken wings, custom burgers, brisket, pork shoulder coleslaw, potato salad, ect. </p>
        <!--<p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Italian</h2>
        <p>pasta, bread, beef medallions, etc. </p>
        <!--<p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>-->
    </div>
</div>

{% endblock %}
