{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<img class="menuimage" src="{{url_for('static', filename='images/Menu.png')}}" />

{% for result in results %}
    <p>The restaurant name is {{result.name}}</p>
    
{% endfor %}

{{url_for('static', filename='Menu.png')}}


<p>Use this area to provide additional information.</p>

<img class="registerimage" src="{{url_for('static', filename='images/Register.png')}}" />
{{url_for('static', filename='Register.png')}}

<img class="registerimage" src="{{url_for('static', filename='images/MONEY.png')}}" />
{{url_for('static', filename='MONEY.png')}}


{% endblock %}
